*.suo
*.db
*.opendb
*.suo
*.exe
*.obj
*_h.h
*.c
*.user
*.output
*.zip
*.appx

x86
x64
ipch
bin
obj
packages
debug
release
.vs
DevProjection
AppPackages

cppwinrt/strings/strings.h
cppwinrt/strings/strings.cpp