*.suo
*.db
*.opendb
*.suo
*.exe
*.obj
*_h.h
*.c
*.user
*.output
*.zip
*.appx
*.dll
*.winmd

x86
x64
ipch
bin
obj
packages
debug
release
.vs
DevProjection
AppPackages
Generated\ Files

cppwinrt/strings/strings.h
cppwinrt/strings/strings.cpp
Projection/Samples/**/winrt
!Projection/Samples/Win2DXaml/packages/**/*.winmd
